*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	background: #cdd0ce;

	@media screen and (min-width: 1024px) {
		overflow: hidden;
	}
}
