.nav {
	background: #af0e29;
	padding: 0;
	overflow: hidden;
	box-shadow: 0px 2px 11px 0px rgba(#000, 0.1);
	border-radius: 0 0 10px 10px;
	height: 0;
	transition: all 0.5s ease-in-out;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;

	@media screen and (min-width: 1024px) {
		padding: 2.4rem;
		border-radius: 0 0 10px 0;
		box-shadow: 5px 5px 15px 5px rgba(#000, 0.3);
		height: 100%;
		overflow: auto;
		position: relative;
		left: unset;
		right: unset;
	}

	&.open {
		height: 172px;
		padding: 2.4rem;
	}

	.navList {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;

		@media screen and (min-width: 1024px) {
			align-items: start;
			gap: 3.6rem;
		}

		.navItem {
			a {
				color: #fff;
				text-decoration: none;
				display: flex;
				align-items: center;
				font-size: 1.6rem;

				.itemIcon {
					margin-right: 5px;
				}
			}

			&.signInItem {
				@media screen and (min-width: 1024px) {
					display: none;
				}
			}
		}
	}
}
